@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 4%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 4%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 4%;
    --primary: 270 77% 50%;
    --primary-foreground: 285 100% 97%;
    --secondary: 240 5% 96%;
    --secondary-foreground: 240 6% 10%;
    --muted: 240 6% 96%;
    --muted-foreground: 240 5% 46%;
    --accent: 240 4.8% 96%;
    --accent-foreground: 240 6% 10%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 6% 90%;
    --input: 240 6% 90%;
    --ring: 270 77% 50%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 20 14% 5%;
    --foreground: 0 0% 95%;
    --card: 24 10% 10%;
    --card-foreground: 0 0% 95%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;
    --primary: 270 77% 50%;
    --primary-foreground: 285 100% 97%;
    --secondary: 240 4% 16%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 65%;
    --accent: 12 7% 15%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 0 86% 98%;
    --border: 240 4% 16%;
    --input: 240 4% 16%;
    --ring: 270 77% 50%;
  }

  * {
    @apply border-border;
  }
}


@layer utilities {
  .invert-calendar-picker {
    @apply [&::-webkit-calendar-picker-indicator]:brightness-30 [&::-webkit-calendar-picker-indicator]:invert;
  }
}
